<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="btn-wrapper text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/car.svg">
                  </span>
                  <span class="btn-inner--text">Registration Page</span>
                </a>
              </div>
              <br>
              <div class="alert alert-danger" *ngIf="mode==1">
                <strong>
                    {{message}}
                </strong>
               </div> 
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="username" placeholder="Username" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="password" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="phoneNumber" placeholder="Phone number" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="email" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-world-2"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="country" placeholder="Country" type="email" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="address" placeholder="Address" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-ungroup"></i></span>
                    </div>
                    <input class="form-control" ngModel="" name="zip" placeholder="Zip Code" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-success my-4">Sign in</button>
                </div>
                <div class="text-center" >Or</div>
              </form>
                  <div class="text-center">
                    <a [routerLink]="['/login']" class="btn btn-danger my-4">Login</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
