<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">Manage Orders</h2>
        </div>
      </div>
      <div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">CAR</th>
                <th scope="col">USERNAME</th>
                <th scope="col">FROM</th>
                <th scope="col">TO</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rent of rents">
                    <th scope="row">{{rent.id}}</th>
                    <td> <a [routerLink]="['/processing',rent.idCar]" >CAR ID {{rent.idCar}}</a> </td>
                    <td> {{rent.userName}}</td>
                    <td>{{rent.startDate}}</td>
                    <td>{{rent.endDate}}</td>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value,rent.id)" >
                            <option value="NEW"  [selected]="rent.status === 'NEW'" >NEW</option>
                            <option value="PROCESSING" [selected]="rent.status === 'PROCESSING'">PROCESSING</option>
                            <option value="SHIPPED" [selected]="rent.status === 'SHIPPED'">SHIPPED</option>
                        </select>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
  </section>
  </main>
  